*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fff;
}

@font-face {
  font-family: "Integral";
  src: url("/src/assets/fonts/integral/integral.woff2") format("woff2"), url("/src/assets/fonts/integral/integral.woff") format("woff"), url("/src/assets/fonts/integral/integral.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/satoshi/satoshi.woff2") format("woff2"), url("/src/assets/fonts/satoshi/satoshi.woff") format("woff"), url("/src/assets/fonts/satoshi/satoshi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.secondary__heading {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.header__logo,
.hero__section-heading,
.secondary__heading,
.subscribe__txt {
  font-family: "Integral", sans-serif;
}

.tertiary__header {
  font-family: "Integral", sans-serif;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.cart__heading {
  font-family: "Integral", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: #000;
  text-transform: uppercase;
  margin: 4rem;
}

.hidden {
  display: none;
}

.line {
  width: 90%;
  height: 1px;
  background-color: #F0F0F0;
  margin: 0 auto;
}

.sign-up {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.2rem;
}
.sign-up__text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.sign-up__link {
  font-weight: 500;
  color: #fff;
}

.close__btn {
  position: absolute;
  top: 1rem;
  right: 30rem;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

@media only screen and (min-width: 75em) {
  .close__btn {
    display: block;
  }
}
.companies {
  overflow: hidden;
  background-color: #000;
}
.companies__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.companies__slider-img {
  width: 12rem;
  height: auto;
  padding: 2rem;
}

@media only screen and (min-width: 61.9375em) {
  .companies {
    overflow: hidden;
  }
  .companies__slider {
    gap: 5rem;
    background-color: #000;
  }
  .companies__slider-img {
    width: 14rem;
  }
}
@media only screen and (min-width: 90em) {
  .companies__slider {
    gap: 14rem;
    animation: slideRightAndBack 50s linear infinite;
  }
}
@keyframes slideRightAndBack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.star__rating {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.star__rating-stars {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  color: #FFC633;
}
.star__rating-number {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #FFC633;
}
.star__rating-price {
  font-size: 3rem;
  margin: 0;
  color: #333;
}

.review {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 50rem;
}
.review-card {
  border: 1px solid #F0F0F0;
  border-radius: 1rem;
  padding: 2rem;
  width: 30.5rem;
  font-weight: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.reviewer-icon {
  background-color: #01AB31;
  color: #fff;
  border-radius: 50%;
  margin-top: 2rem;
}

.review__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.review__slider--slide {
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  transition: transform 0.5s ease-in-out;
}

.review__slider--btns {
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.review__slider--btns-btn {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: #000;
}

.review-card2 {
  display: none;
}

.squares {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
}

.square {
  width: 7px;
  height: 7px;
  border-radius: 100px;
  background-color: #f4f4f4;
}

.active-square {
  background-color: #000;
}

@media only screen and (min-width: 70em) {
  .review-card2 {
    display: block;
  }
}
.reviews__content {
  padding: 2rem;
  background-color: #fff;
}

.reviews__tab-container {
  display: flex;
  justify-content: center;
}

.reviews__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.reviews__tab {
  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  border: none;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 5rem;
}

.reviews__tab--active {
  transform: translateY(-66%);
  border-bottom: 1px solid #000;
  color: #000;
}

.reviews__content {
  display: none;
}

.reviews__content--active {
  display: grid;
}

.filter__container {
  display: flex;
  justify-content: space-between;
}

.filter__txt {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
}

.latest-btn {
  background-color: #F0F0F0;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.review-btn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.testimonial {
  border: 1px solid #F0F0F0;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.testimonial__name {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
}
.testimonial__text {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.testimonial__date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}
.testimonials__load-more {
  width: 22rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #F0F0F0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 0 auto;
}

.none {
  display: none;
}

@media only screen and (min-width: 60em) {
  .reviews__content {
    padding: 2rem 6rem;
  }
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .none {
    display: block;
  }
}
@media only screen and (min-width: 62.5em) {
  .reviews__content {
    padding: 2rem 10rem;
  }
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.2rem 0;
  height: 3rem;
}
.header__logo {
  order: 2;
  font-weight: 700;
  font-size: 2.2rem;
  text-decoration: none;
  color: #000;
}
.header__search {
  order: 3;
  font-size: 2rem;
  color: #000;
}
.header__cart {
  order: 4;
  font-size: 2rem;
  color: #000;
}
.header__user {
  order: 5;
  font-size: 2rem;
  color: #000;
}

.header__search-container {
  visibility: hidden;
  width: 1rem;
  order: 3;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.6rem;
  background-color: #f0f0f0;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.search-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

@media only screen and (min-width: 75em) {
  .header {
    height: 6rem;
  }
  .close__btn {
    display: block;
  }
  .header__search {
    display: none;
  }
  .header__search-container {
    visibility: visible;
    display: flex;
    align-items: center;
    width: 50rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #f0f0f0;
    border-radius: 2rem;
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  backdrop-filter: blur(20px);
  height: 1.5rem;
  width: 2.3rem;
  position: relative;
  top: 0.2rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 1000;
  transition: transform 0.8s;
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: height 0.8s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  overflow: hidden;
}
.navigation__nav.active {
  height: 100vh;
  opacity: 1;
}
.navigation__list {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  background-color: #fff;
}
.navigation__item {
  opacity: 0;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 2rem;
  text-decoration: none;
  width: 100%;
}
.navigation__logo {
  width: 30%;
  height: auto;
  position: absolute;
  z-index: 99999;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  background-color: black;
  position: relative;
  margin-top: 0.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 2.2rem;
  height: 0.2rem;
  background-color: black;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.5rem;
  width: 2.2rem;
}
.navigation__icon::after {
  top: 0.5rem;
  width: 2.2rem;
}
.navigation__icon > span {
  width: 2rem;
  height: 0.1rem;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-20deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(20deg);
}

.hidden {
  display: none;
}

.navigation__checkbox:not(:checked) ~ .navigation__nav .navigation__item {
  opacity: 0;
}

.navigation.hidden {
  display: block;
}

.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(1) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(2) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(3) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(4) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(5) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(6) {
  opacity: 1;
}

.main__navigation {
  display: none;
  order: 2;
  font-size: 1.6rem;
}
.main__navigation-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.main__navigation-link {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  display: block;
  position: relative;
  padding: 1.9em 0;
  list-style-type: none;
}
.main__navigation-links {
  font-size: 1.4rem;
  font-weight: 500;
  color: #141719;
  list-style-type: none;
  text-decoration: none;
}
.main__navigation-ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  width: 3rem;
}

.main__navigation-content {
  margin: 0 auto;
  width: 100rem;
  padding: 2rem;
}

.main__navigation-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.main__navigation-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.main__navigation-link::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.main__navigation-link:focus::after {
  transform: scale(1);
}

@media only screen and (min-width: 61.9375em) {
  .navigation.hidden {
    display: none;
  }
  .main__navigation {
    display: block;
  }
}
.footer {
  background-color: #f0f0f0;
  margin-top: 5rem;
}
.footer__container {
  margin: 2rem;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__txt {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2rem;
}
.footer__links {
  list-style-type: none;
}
.footer__links-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.footer__links li {
  margin-top: 2rem;
}
.footer__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.9rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer-footer {
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.footer-line {
  width: 90%;
  height: 1px;
  color: #000;
  margin: 0 auto;
}

@media only screen and (min-width: 61em) {
  .footer-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .footer__container {
    width: 20rem;
  }
  .footer__links {
    list-style-type: none;
  }
  .footer__links-container {
    flex-direction: row;
    gap: 5rem;
  }
  .footer-footer {
    padding: 4rem 4rem;
    flex-direction: row;
  }
}
@media only screen and (min-width: 75em) {
  .footer-content {
    gap: 10rem;
  }
  .footer__links-container {
    gap: 10rem;
  }
}
@media only screen and (min-width: 90em) {
  .footer-content {
    gap: 17rem;
  }
  .footer__links {
    list-style-type: none;
  }
  .footer__links-container {
    gap: 17rem;
  }
}
.hero {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.hero__img {
  width: 39rem;
  height: 44.8rem;
}
.hero__section {
  width: 34rem;
}
.hero__section-heading {
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 3.4rem;
  margin-top: 3rem;
}
.hero__section-txt {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 3rem;
}
.hero__section-btn {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 6.2rem;
  padding: 1rem 5rem;
  font-size: 1.6rem;
  line-height: 21px;
  width: 100%;
  margin-top: 2rem;
  cursor: pointer;
}
.hero__statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}
.hero__statistic {
  display: flex;
  flex-direction: column;
}
.hero__statistic-number {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 32.4px;
}
.hero__statistic-txt {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}
.hero__statistic:last-child {
  align-self: center;
}

.new {
  margin-top: 2rem;
  overflow-x: hidden;
}

.products {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-top: 2rem;
}
.products__container {
  display: flex;
  gap: 2rem;
}
.products__card {
  width: 20rem;
  margin-left: 2rem;
}
.products__card-img {
  width: 23rem;
  height: 25rem;
  border-radius: 2rem;
}
.products__card-title {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2.7rem;
}

.price {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.price-current {
  color: #000;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
}
.price-old {
  color: #000;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
.price-sale {
  color: #FF3333;
  background-color: rgba(255, 51, 51, 0.1019607843);
  border-radius: 2rem;
  padding: 1rem 1rem;
}

.view__btn {
  padding: 1rem 3rem;
  background-color: #fff;
  border: 1px solid #F0F0F0;
  border-radius: 3rem;
  width: 90%;
  margin: 1rem;
}
.view__btn-container {
  overflow-x: hidden;
  text-align: center;
}

.styles {
  margin: 2rem;
  background-color: #F0F0F0;
  border-radius: 2rem;
  padding: 2rem;
}
.styles__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}
.styles__container-category {
  position: relative;
}
.styles__container-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.styles-img {
  width: 100%;
  height: 18rem;
  border-radius: 2rem;
}
.styles-txt {
  position: absolute;
  top: 5rem;
  left: 2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.subscribe {
  position: relative;
  top: -5rem;
  background-color: #000;
  margin: 0 auto;
  width: 35rem;
  border-radius: 2rem;
}
.subscribe__container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.subscribe__txt {
  color: #fff;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.5rem;
}
.subscribe__input-container {
  color: #F0F0F0;
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.6rem;
}
.subscribe-icon {
  width: 50%;
  color: #000;
  width: 3rem;
  align-self: center;
}
.subscribe-input {
  border-radius: 2rem;
  display: flex;
  gap: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #f0f0f0;
  width: 100%;
}
.subscribe-btn {
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 3rem;
  width: 100%;
  padding: 0.9rem;
  border: none;
}

@media only screen and (min-width: 31.25em) {
  .products {
    justify-content: center;
    align-items: center;
  }
  .styles__container-flex {
    flex-direction: row;
  }
}
@media only screen and (min-width: 48em) {
  .hero {
    flex-direction: row;
  }
  .styles__container-category {
    width: 100%;
  }
}
@media only screen and (min-width: 61.9375em) {
  .hero {
    gap: 15rem;
  }
  .products {
    flex-direction: row;
  }
  .view__btn {
    width: 20rem;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 1;
  }
  .styles {
    padding: 5rem;
  }
  .styles__container {
    gap: 2rem;
  }
  .styles__container-category {
    width: 30rem;
    height: auto;
  }
  .styles__container-flex {
    gap: 3rem;
  }
  .styles-img {
    height: 30rem;
  }
  .subscribe {
    width: 100rem;
  }
  .subscribe__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 15rem;
  }
  .subscribe__txt {
    width: 50rem;
  }
}
@media only screen and (min-width: 90em) {
  .hero {
    gap: 10rem;
  }
  .hero__img {
    width: 50rem;
  }
  .hero__section {
    width: 60rem;
  }
  .hero__section-heading {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
  .hero__section-txt {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .hero__section-btn {
    width: 210px;
  }
  .products {
    gap: 10rem;
  }
  .products__container {
    gap: 10rem;
  }
  .styles {
    padding: 5rem 20rem;
  }
  .styles__container {
    gap: 3rem;
  }
  .styles__container-category {
    width: 40rem;
    height: auto;
  }
  .styles__container-flex {
    gap: 4rem;
  }
  .styles-img {
    height: 30rem;
  }
}
.path {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 2rem 2rem;
  color: rgba(0, 0, 0, 0.6);
}
.path-icon {
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-x: hidden;
  margin: 2rem;
}
.details__image-main {
  width: 35rem;
}
.details__image-gallery {
  width: 10rem;
  height: 10rem;
}
.details__collection {
  display: flex;
  gap: 2rem;
}
.details__gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description {
  margin-bottom: 2rem;
}

.colors__container {
  padding: 2rem 0;
}

.circles {
  display: flex;
  gap: 1rem;
}

.circle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.circle input {
  display: none;
}

.circle span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid #000;
}

.circle1 {
  border-radius: 50%;
  background-color: #4F4631;
}

.circle2 {
  border-radius: 50%;
  background: #314F4A;
}

.circle3 {
  border-radius: 50%;
  background: #31344F;
}

.circle input:checked + span {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
}

.colors {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.6);
}

.size {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}
.size__txt {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.6);
}
.size__btn {
  font-size: 1.4rem;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  background-color: #F0F0F0;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.size__btns {
  display: flex;
  gap: 1rem;
}
.size__btn:hover {
  background-color: #000;
  color: #fff;
}

.cart__container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.quantity {
  background-color: #F0F0F0;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  width: 7rem;
  height: 4rem;
}

.cart-btn {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 6.2rem;
  padding: 1rem 5rem;
  font-size: 1.6rem;
  line-height: 21px;
  width: 60%;
  margin-top: 2rem;
  cursor: pointer;
}

@media only screen and (min-width: 60em) {
  .details {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 90em) {
  .details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details__gallery {
    flex-direction: row-reverse;
  }
  .details__collection {
    flex-direction: column;
    justify-content: space-between;
  }
}
.cart__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30rem;
}
.cart__txt {
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5.4rem;
}

/*# sourceMappingURL=style.css.map */
