@font-face {
  font-family: "Integral";
  src: url("/src/assets/fonts/integral/integral.woff2") format("woff2"),
    url("/src/assets/fonts/integral/integral.woff") format("woff"),
    url("/src/assets/fonts/integral/integral.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/satoshi/satoshi.woff2") format("woff2"),
    url("/src/assets/fonts/satoshi/satoshi.woff") format("woff"),
    url("/src/assets/fonts/satoshi/satoshi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  // font-family: 'Integral', sans-serif;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.secondary__heading {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.header__logo,
.hero__section-heading,
.secondary__heading,
.subscribe__txt {
  font-family: "Integral", sans-serif;
}

.tertiary__header {
  font-family: "Integral", sans-serif;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.cart__heading {
  font-family: "Integral", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: $black;
  text-transform: uppercase;
  margin: 4rem;
}
