.hero {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  &__img {
    width: 39rem;
    height: 44.8rem;
  }
  &__section {
    width: 34rem;

    &-heading {
      font-weight: 700;
      font-size: 3.3rem;
      line-height: 3.4rem;
      margin-top: 3rem;
    }
    &-txt {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2rem;
      margin-top: 3rem;
    }
    &-btn {
      color: $white;
      background-color: $black;
      border: none;
      border-radius: 6.2rem;
      padding: 1rem 5rem;
      font-size: 1.6rem;
      line-height: 21px;
      width: 100%;
      margin-top: 2rem;
      cursor: pointer;
    }
  }
  &__statistics {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
  }
  &__statistic {
    display: flex;
    flex-direction: column;
    &-number {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 32.4px;
    }
    &-txt {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 22px;
      color: #00000099;
    }
  }
  &__statistic:last-child {
    align-self: center;
  }
}

.new {
  margin-top: 2rem;
  overflow-x: hidden;
}

.products {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-top: 2rem;
  &__container {
    display: flex;
    gap: 2rem;
  }

  &__card {
    width: 20rem;
    margin-left: 2rem;
  }
  &__card-img {
    width: 23rem;
    height: 25rem;
    border-radius: 2rem;
  }

  &__card-title {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.7rem;
  }
}

.price {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  &-current {
    color: $black;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.2rem;
  }
  &-old {
    color: $black;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.2rem;
    text-decoration: line-through;
    color: #00000066;
  }
  &-sale {
    color: $red;
    background-color: #ff33331a;
    border-radius: 2rem;
    padding: 1rem 1rem;
  }
}
.view__btn {
  padding: 1rem 3rem;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 3rem;
  width: 90%;
  margin: 1rem;
  &-container {
    overflow-x: hidden;
    text-align: center;
  }
}

.styles {
  margin: 2rem;
  background-color: $grey;
  border-radius: 2rem;
  padding: 2rem;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    &-category {
      position: relative;
    }
    &-flex {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  &-img {
    // width: 30rem;
    width: 100%;
    height: 18rem;
    border-radius: 2rem;
  }
  &-txt {
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.8rem;
  }
}
.subscribe {
  position: relative;
  top: -5rem;
  background-color: $black;
  margin: 0 auto;
  width: 35rem;
  border-radius: 2rem;
  &__container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
  &__txt {
    color: $white;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
  &__input-container {
    color: $grey;
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.6rem;
  }
  &-icon {
    width: 50%;
    color: $black;
    width: 3rem;
    align-self: center;
  }
  &-input {
    border-radius: 2rem;
    display: flex;
    gap: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    background-color: #f0f0f0;
    width: 100%;
  }
  &-btn {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 3rem;
    width: 100%;
    padding: 0.9rem;
    border: none;
  }
}

// 31.25em 500px

@media only screen and (min-width: 31.25em) {
  .products {
    justify-content: center;
    align-items: center;
  }
  .styles__container-flex {
    flex-direction: row;
  }
}
// 768px
@media only screen and (min-width: 48em) {
  .hero {
    flex-direction: row;
  }
  .styles__container-category {
    width: 100%;
  }
}

@media only screen and (min-width: 61.9375em) {
  .hero {
    gap: 15rem;
  }
  .products {
    flex-direction: row;
  }
  .view__btn {
    width: 20rem;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 1;
  }

  .styles {
    padding: 5rem;

    &__container {
      gap: 2rem;
      &-category {
        width: 30rem;
        height: auto;
      }
      &-flex {
        gap: 3rem;
      }
    }
    &-img {
      height: 30rem;
    }
  }
  .subscribe {
    width: 100rem;
  }
  .subscribe__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 15rem;
  }
  .subscribe__txt{
    width: 40rem;
  }
}
@media only screen and (min-width: 90em) {
  .hero {
    gap: 10rem;
    &__img {
      width: 50rem;
    }
    &__section {
      width: 60rem;

      &-heading {
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 6.4rem;
      }
      &-txt {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
      &-btn {
        width: 210px;
      }
    }
  }
  .products {
    gap: 10rem;
    &__container {
      gap: 10rem;
    }
  }
  .styles {
    padding: 5rem 20rem;
    &__container {
      gap: 3rem;
      &-category {
        width: 40rem;
        height: auto;
      }
      &-flex {
        gap: 4rem;
      }
    }
    &-img {
      height: 30rem;
    }
  }
}
